
.folder{
    a{
        width: 13%;
        text-align: center;
        padding-bottom: 10px;
        transition: .3s;
        text-wrap: wrap;
    }
    a:hover{
        transform: scale(1.1,1.1);
    }
}

@media (max-width: 768px) {
    .folder{
        a{
            width: 24%;
        }
    }
}


@media (max-width: 576px) {
    .folder{
        a{
            width: 50%;
        }
    }
}